<div class="relative w-full">
    <button (click)="toggleDropdown()" type="button" class="w-full px-4 py-3  border border-gray-400 rounded-lg
         text-gray-700 text-left flex justify-between items-center
         focus:outline-none focus:ring-2 focus:ring-emerald-500 focus:border-emerald-500
         transition"
        [ngClass]="{
          'text-gray-700': selectedItem(),
        }"
    >
        <span class="truncate">{{ getDisplayValue() }}</span>
        <span class="ml-2 text-gray-400 transition-transform duration-200" [class.rotate-180]="isDropdownOpen">&#9660;</span>
    </button>


    @if (isDropdownOpen) {
        <div 
            class="absolute z-20 w-full mt-1 bg-white border border-gray-300 rounded-lg
           shadow-lg max-h-48 overflow-y-auto"
        >
        <ul class="py-1">
            @for (item of items(); track item[trackByField()]) {
            <li 
                (click)="selectItem(item)"
                [class.bg-emerald-100]="selectedItem() && selectedItem()![trackByField()] === item[trackByField()]"
                class="px-4 py-2 text-grey-700 hover:bg-gray-300 cursor-pointer transition duration-100 ease-in-out">
                {{ getOptionText(item) }}
            </li>
            }
        </ul>
    </div>
    }
</div>