<form (ngSubmit)="onSubmit()" 
      #f="ngForm"
      method="post"
      action=""
      [formGroup]="transactionForm" 
      class="max-w-md mx-auto mt-30 p-6 bg-gray-300 shadow-lg rounded-lg border border-gray-200">

  <h2 class="text-2xl font-semibold text-emerald-700 mb-6 text-center">
    Financial Profile
  </h2>

  <label class="block text-gray-800 font-medium mb-2">
    Date
  </label>
  <input type="date"
        formControlName="date"
        class="w-full px-4 py-2 border border-gray-400 rounded-md
                focus:ring-2 focus:ring-emerald-500 focus:border-emerald-500 mb-4"/>

  <label class="block text-gray-800 font-medium mb-2">
    Amount
  </label>
  <input type="number"
        placeholder="0.00"
        min="0"
        formControlName="amount"
        class="w-full px-4 py-2 border border-gray-400 rounded-md
                focus:ring-2 focus:ring-emerald-500 focus:border-emerald-500 mb-4"/>
  @if (amount.invalid && amount.touched) 
  {
    <p class="text-red-600 text-sm mb-4">
      Please enter a valid amount greater than 0.
    </p>
  }
  @if (amount.hasError('min') && amount.touched) {
    <p class="text-red-600 text-sm mb-4">
      Amount must be greater than 0.
    </p>
  }

  <label class="block text-gray-800 font-medium mb-2">
    Transaction Type
  </label>
 
  <div class="flex gap-4 mb-4">
    <!-- Income -->
    <button type="button" (click)="setType('Income')" [class.bg-emerald-600]="type.value === 'Income'"
      [class.text-white]="type.value === 'Income'" class="flex-1 py-2 rounded-md border border-emerald-600
            text-emerald-700 font-semibold
            hover:bg-emerald-600 hover:text-white transition
            hover:cursor-pointer">
      Income
    </button>

    <!-- Expense -->
    <button type="button" (click)="setType('Expense')" [class.bg-amber-600]="type.value === 'Expense'"
      [class.text-white]="type.value === 'Expense'" class="flex-1 py-2 rounded-md border border-amber-600
            text-amber-700 font-semibold
            hover:bg-amber-600 hover:text-white transition
            hover:cursor-pointer">
      Expense
    </button>
  </div>
  @if (type.invalid && type.touched) 
  {
    <p class="text-red-600 text-sm mb-4">
      Please select a transaction type.
    </p>
  }
  
  <label class="block text-gray-800 font-medium mb-2">
    Description (optional)
  </label>
  <textarea formControlName="description"
            rows="3"
            placeholder="e.g. Grocery shopping, Salary, Rent..."
            class="w-full px-4 py-2 border border-gray-400 rounded-md
                  focus:ring-2 focus:ring-emerald-500 focus:border-emerald-500 mb-4">
  </textarea>

  <label class="block text-gray-800 font-medium mb-2">
    Category
  </label>
  <app-ui-dropdown
        formControlName="categoryId"
        [items]= "categories"
        trackByField="id"
        labelField="name"
        />
  @if (categoryId.invalid && categoryId.touched) 
  {
    <p class="text-red-600 text-sm mb-4">
      Please select a category.
    </p>
  }

  <button type="submit"
          [disabled]="transactionForm.invalid"
          class="mt-6 w-full bg-emerald-600 text-white py-2 px-4 rounded-md
            font-semibold tracking-wide
            hover:bg-emerald-700 transition
            hover:cursor-pointer
            disabled:opacity-50 disabled:cursor-not-allowed">
    Save
  </button>
</form>
